<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>

    <div class="container">
        <h2>Đăng Nhập</h2>

        <form action="/login" method="post" class="login-form">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="form-group">
                <label for="password">Mật khẩu:</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit" class="btn-submit">Đăng Nhập</button>
        </form>
        

			
        <p class="message" th:text="${message}"></p> <!-- Hiển thị thông báo lỗi hoặc thành công -->

        <div class="links">
            <p>Chưa có tài khoản? <a href="/register">Đăng kí</a></p>
            <a href="/" class="back-home">Quay về Trang Chủ</a>
        </div>
    </div>

</body>
</html>


